header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: #e5e5e5;
}
nav{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
nav a{
  text-decoration: none;
  font-weight: 800;
}
header nav .active{
  color: red;
  border-bottom: 2px solid red;
}
